.Valid{
    font: 18;
    font-family: Arial;
    color: limegreen;
}

.Invalid{
    font: 18;
    font-family: Arial;
    color: darkred;
}

.CharBox{
    display: inline-block; 
    padding: 16px; 
    text-align: center; 
    margin: 16px;
    border: 1px solid black;
    cursor: pointer;
}